[package]
name = "rowscript-core"
version = "1.0.0-alpha.3"
edition = "2021"

[features]
default = ["codegen-ecma"]
codegen-ecma = [
    "dep:swc_ecma_parser",
    "dep:swc_ecma_ast",
    "dep:swc_ecma_codegen",
    "dep:swc_atoms",
    "dep:swc_common",
    "dep:num-bigint",
]

[dependencies.pest]
version = "2.4.1"
features = ["fast-line-col"]

[dependencies.pest_derive]
version = "2.4.1"

[dependencies.thiserror]
version = "1.0.37"

[dependencies.ariadne]
version = "0.2.0"

[dependencies.stacker]
version = "0.1"

[dependencies]
swc_ecma_parser = { version = "0.133.11", optional = true }
swc_ecma_ast = { version = "0.103.5", optional = true }
swc_ecma_codegen = { version = "0.138.13", optional = true }
swc_atoms = { version = "0.5.3", optional = true }
swc_common = { version = "0.31.5", features = ["tty-emitter"], optional = true }
num-bigint = { version = "0.4.3", optional = true }
